.titulo {
    width: 100%;
    height: 20vh;
}

.product{
    background-color: rgb(74, 34, 184);
    display: inline-block;
    margin: 1%;
    width: 30vw;
    height: 30vh;
    
}

.nombres{
  text-align: center;
  color: rgb(162, 143, 245);
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}
 
.error{
  background-image: url(../componentes/image/1647190168_4-abrakadabra-fun-p-plachushchii-pikachu-17.jpg);
  background-position: center center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

.transparent{
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


#fire{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/_21x_pe8g5cl1q_Doppleganger-Campaign-Raid-Dawn-of-the-Dragons-Wiki-.jpg);
  background-position: center center;
  background-size: cover;
}
#grass{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/Pokemon-forest-by-BlazingIfrit-Fur-Affinity-dot-net.jpg);
  background-position: center center;
  background-size: cover;
}
#water{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/mar.jpg);
  background-position: center center;
  background-size: cover;
}
#ghost{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/fantasma.jpg);
  background-position: center center;
  background-size: cover;
}
#ground{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/tirra.png);
  background-position: center center;
  background-size: cover;
}
#electric{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/electrico.webp);
  background-position: center center;
  background-size: cover;
}
#normal{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/normal.png);
  background-position: center center;
  background-size: cover;
}
#fighting{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/lucha.jpg);
  background-position: center center;
  background-size: cover;
}
#psychic{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/psychic.webp);
  background-position: center center;
  background-size: cover;
}
#bug{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/insecto.jpg);
  background-position: center center;
  background-size: cover;
}
#rock{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/roca.png);
  background-position: center center;
  background-size: cover;
}
#poison{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/veneno.jpg);
  background-position: center center;
  background-size: cover;
}
#ice{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/hielo.jpg);
  background-position: center center;
  background-size: cover;
}
#fairy{
  border-radius: 15px 10px 0 0;
  background-image: url(../componentes/image/hada.jpg);
  background-position: center center;
  background-size: cover;
}

.login{
  display: flex;
  justify-content: center;
  background-color: rgb(255, 36, 36);
  height: 100vh;
}

.formu{
  border-radius: 20px;
  background-color: rgb(189, 185, 185);
  height: 50vh;
  padding: 20px;
  top: 100%;
}

.conte{
  padding: 20px;
  top: 10%;
}

.boton{
  padding: 20%;
  top: 10%;
}

.num{
  text-align: center;
  background-color: white;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  border-radius: 100px;
}

.fond{
  background-color: blue;
}

.pokeimg{
  max-width: 100%;
  filter: drop-shadow(1em 3em 10px rgba(0,0,0,0.5));
}

.pokeimg:hover {
  transform: scale(1.05);
}
.nombre {
  position: relative;
  z-index: 1;
}

@media (max-width:1000px){
    .fonvar {
      
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .pokeimg{
      width: 100%;
      height: 100%;
      
    }
    .product{
      margin: 20%;
      display: inline-block;
      margin: 10%;
      width: 40vw;
      height: 40vh;
    }
}
@media (max-width:500px){
  .fonvar {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .pokeimg{
    width: 100%;
    height: 100%;
    
  }
  .product{
    margin: 20%;
    display: inline-block;
    margin: 10%;
    width: 90%;
    height: 50vh;
  }
}

.stats{
  background-color: dodgerblue;
  border-radius: 2vh;
  padding: 2vh;
}
.data{

  background-color: rgb(255, 255, 255);
  border-radius: 2vh;
  margin: 2vh;
  text-align: center;
}